<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Allgemein: alt:V -->
    <add key="general:altVBranch" value="release" />      
    <add key="general:altVOS" value="x64_win32" />
    <add key="general:altVRootPath" value="C:\ALTV-S" />
    <add key="general:altVServerExe" value="altv-server.exe" />
    <!-- Allgemein: Sonstiges -->
    <add key="general:autoUpdateWhenServerOff" value="true" />
    <add key="general:updateCheckSeconds" value="30" />
    <add key="general:extendLog" value="false" />
    <!-- Module -->
    <add key="module:coreClr" value="true" />
    <add key="module:js" value="true" />
    <add key="module:jsBytecode" value="true" />
    <add key="module:voiceServer" value="false" />
    <add key="module:server" value="true" />
    <add key="module:serverBin" value="true" />
    <!-- Discord -->
    <add key="discord:author" value="alt:V-Update" />
    <add key="discord:webhookId" value="0" />
    <add key="discord:webhookToken" value="" />
    <add key="discord:notificationUserId1" value="0" />
    <add key="discord:notificationUserId2" value="0" />
    <add key="discord:notificationUserId3" value="0" />
  </appSettings>
</configuration>